
    <p-menubar [model]="items">
      <!-- <div class="p-menubar-start ng-star-inserted">
        <img src="../assets/quadrado.PNG" height="40" class="mr-2 ng-star-inserted" style="align-items: flex-start;">
      </div> -->
      <div style="margin-right: 25px;">
          <button pButton type="button" label="Login" class="p-button-outlined" style="margin-left:.25em"></button>
          <button type="button" pButton label="Register" style="margin-left:.25em"></button>
      </div>
  </p-menubar>

  <!-- <div class="p-grid">
    <div class="p-col-12">
      <div class="box"> <img src="../assets/quadrado.PNG" height="40" class="mr-2 ng-star-inserted"> </div>
  </div>
  </div> -->

  <!-- <app-login></app-login> -->


  <div class="p-grid">
      <div class="p-col-12">
        <img class="img" src="../assets/main-grid3.PNG">
      </div>
  </div>

  <div class="p-grid margin-left">
    <div class="p-col-6">
      <div class="box" style="font-size: 30px"> Snap photos and share like <br> never before </div>
    </div>
    <div class="p-col-6">
      <div class="box" style="font-size: 30px"> Lorem ipsum dolor </div>
    </div>
  </div>
    <div class="p-grid margin-left">
        <div class="p-col-6 space-text">
            <div class="box"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </div>
            <!-- <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button> -->
        </div>
        <div class="p-col-6 space-text">
            <div class="box"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </div>
            <!-- <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button> -->
        </div>
    </div>
    <div class="p-grid margin-left">
      <div class="p-col-6 space-btn">
        <div class="box">
          <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button>
        </div>
      </div>
      <div class="p-col-6 space-btn">
        <div class="box">
          <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button>
        </div>
      </div>
    </div>

    <div class="p-grid margin-left">
      <div class="p-col-6 space-title">
        <div class="box" style="font-size: 30px"> Nemo enim ipsam </div>
      </div>
      <div class="p-col-6 space-title">
        <div class="box" style="font-size: 30px"> Tempor incididunt </div>
      </div>
    </div>
    <div class="p-grid margin-left">
      <div class="p-col-6 space-text">
          <div class="box"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
          </div>
      </div>
      <div class="p-col-6 space-text">
          <div class="box"> Eos qui ratione voluptatem sequi nesciunt. Neque porro quisqdsuam est, qui dolorem ipsdsdsum quia dolor sit amet, consectetur, adipiscace velit, sed quia non numquam eius modi tempora. </div>
      </div>
  </div>
  <div class="p-grid margin-left">
    <div class="p-col-6 space-btn">
      <div class="box">
        <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button>
      </div>
    </div>
    <div class="p-col-6 space-btn">
      <div class="box">
        <button pButton type="button" label="Learn more" class="p-button-outlined" style="margin-left:.25em"></button>
      </div>
    </div>
  </div>

  <div class="p-grid margin-left" style="margin-top: 150px;">
    <div class="p-col-6">
      <div class="box">
        <img src="../assets/img3.PNG">
      </div>
    </div>
    <div class="p-col-6 space-title" style="margin-top: 100px;">
      <div class="box" style="font-size: 30px"> Sed ut perspiciatis unde omnis </div>
      <div class="box space-text"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </div>
    </div>
  </div>

  <div class="p-grid gray-grid">
    <div class="p-col-6 space-title" style="margin-top: 100px;">
      <div class="box" style="font-size: 30px"> Sed ut perspiciatis unde omnis </div>
      <div class="box space-text"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </div>
    </div>
    <div class="p-col-6">
      <div class="box">
        <img src="../assets/img3.PNG">
      </div>
    </div>
  </div>

  <div class="p-grid centralizar">
    <div class="p-col-6 space-title" style="margin-top: 100px;">
      <div class="box" style="font-size: 30px; margin-left: 25%;"> You're in good company </div>
      <div class="box space-text" style="margin-left: 19%;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore </div>
    </div>
  </div>

  <div class="p-grid centralizar">
    <div class="p-col-6" style="margin-left: 8%;">
      <div class="box">
        <img src="../assets/letters.PNG">
      </div>
    </div>
  </div>

  <div class="p-grid gray-grid">
    <div class="p-col-6 space-title ajuste-texto" style="margin-top: 100px;">
      <div class="box space-text ajuste"> Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut labore </div>
    </div>
    <div class="p-col-6 space-title" style="margin-top: 100px;">
      <button type="button" pButton label="Join Today" style="margin-left:.25em"></button>
      <button pButton type="button" label="Contact us" class="p-button-outlined" style="margin-left: 30px;"></button>
    </div>
  </div>

  <div class="p-grid" style="justify-content: center;">
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste1 </div>
    </div>
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste2 </div>
    </div>
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste3 </div>
    </div>
    <div class="p-col-2 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> PHOTO </div>
    </div>
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste1 </div>
    </div>
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste2 </div>
    </div>
    <div class="p-col-1 space-title" style="margin-top: 100px;">
      <div class="box space-text ajuste"> teste3 </div>
    </div>
  </div>

  <hr size="1" style="margin-top: 25px;">

  <div class="p-grid">
    <div class="p-col-12 rodape">
      <img src="../assets/rodape.PNG">
    </div>
  </div>


